lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
node_modules

# WebStorm files
.idea/

# 3rd dependencies
client/src/vendor/

# build folder for production
build/
client/src/tmp

# SASS cache files
client/src/assets/.sass-cache
.sass-cache/

# generated CSS
client/src/assets/styles
*.css
