lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# WebStorm files
.idea/

# 3rd dependencies
client/src/vendor/

# build folder for production
build/
.tmp
