<div class="application">
    <div class="navigation-bar">
            <a class="brand-image" href="#"><img src="assets/images/cam-logo-text-long.png" alt="cam logo"/></a>
            <ul>
                <li>{{#link-to "articles" }}Articles{{/link-to}}</li>
                <li>{{#link-to "photos" }}Photos{{/link-to}}</li>
                <li>{{#link-to "login" }}Login{{/link-to}}</li>
            </ul>
    </div>

    {{outlet}}
</div>
