@import "compass";
@import "bootstrap";

body {
    background: #eeeeee url(http://subtlepatterns.com/patterns/crossword.png);
}

.index {
    @extend .container;

}

.shadow {
    @include box-shadow(black 5px 5px 5px);
}

.application {
    @extend .container;
    .navigation-bar {
        @extend .navbar;
        @extend .navbar-default;
        .brand-image {
            @extend .navbar-brand;
            img {
                position: absolute;
                @include size(300px, 50px);
                top: 0;
            }
        }
        ul {
            @extend .nav;
            @extend .navbar-nav;
            @extend .pull-right;
        }
    }
}

.login-form {
    @extend .container;
    .login-container {
        position: relative;
        @include size(300px, auto);
        margin: 80px auto;
        padding: 20px, 40px, 40px;
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        @include border-radius(5px);
        .output {
            position: absolute;
            @include size(300px, auto);
            top: -75px;
            left: 0;
            color: white;
        }
        .avatar {
            @include size(100px, 100px);
            margin: 10px auto 30px;
            border-radius: 100%;
            border: 2px solid #aaa;
            background-size: cover;
            background-image: url("../images/cam-logo.png");
        }
        .form-box {
            input {
                @include size(80%, 40px);
                padding: 10px;
                text-align: center;
                border: 1px solid #ccc;
            }
            .fadeUpColor {
                background: #fafafa;
                @include transition-duration(0.2s);
                @include transition-timing-function(ease-in-out);
            }
            input:focus {
                outline: 0;
                background: #eee;
            }
            input[type='text'] {
                border-radius: 5px 5px 0 0;
                text-transform: lowercase;
            }
            input[type='password'] {
                border-radius: 0 0 5px 5px;
                border-top: 0;
            }
            // button.login {
            input[type='submit'] {
                color: #0f0f0f;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                padding: 10px 20px;
            }
        }
    }
    .login-container::before, .login-container::after {
        content: '';
        position: absolute;
        @include size(100%, 100%);
        top: 3.5px;
        left: 0;
        background: #fff;
        z-index: -1;
        @include rotate(-2deg);
        border: 1px solid #ccc;
        @include border-radius(5px);
    }
    .login-container::after {
        top: 5px;
        z-index: -2;
        @include rotate(-4deg);
        @include border-radius(5px);
    }
}